<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <style>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1.5;
      background-color: #f4f4f4;
    }
    body {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 600px;
      height: 100vh;
      margin: 0 auto;
      padding: 20px;
      background-color: #4f5ef1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }

    .message,
    .message-sm {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
      padding-top: 50px;
    }

    .message-sm > h1 {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
    }

    .course-info {
      margin: auto;
      padding: 20px 0;
      width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 2px 2px 2px rgba(206, 197, 197, 0.1);
      color: #000;
    }
  </style>
  <body></body>
</html>
